.mainfeatures{
    background-color: #000000;
    font-family: $primary-font-family;
    font-size: 36px;
    color: white;
    padding: 40px 0 0;

    &__title{
        align-items: center;
    }

    &__titletext{
        position: absolute;
        left: 400px;
    }

    &__nav{
        display: flex;
        justify-content: space-around;
    }

    &__navtitles{
        width: 34%;
        margin: 50px auto 5px;
        border-style: solid;
        border-color: $secondary-color;
        border-width: 3px;
        text-align: center;

        &--selected{
            background: $secondary-color;
        }
    }

    &__navtitles:nth-child(2n) {
        border-width: 3px 0;
    }

    &__image{
        height: auto;
    }

    &__content{
        margin: auto;
    }

    &__info{
        display: flex;
        align-items: center;
        margin: 0 auto;
        &--hidden{
            display: none;
        }
    }

    &__infotext{
        font-size: 34px;

        &--green{
            color: #76B900;
        }

    }

}