.mainheader{
    background-color: $primary-color;
    padding: 10px 10px;
}

.mainheader__container{
    align-items: center;
}

.mainheader__link{
    color: #8D8D8D;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 50px;
}

.mainheader__nav{
    margin-left: 200px;
}


