.mainheader{
    background-color: $primary-color;
    padding: 10px 10px;
    //position: sticky; -----> Header siempre visible
    //z-index: 1;
    //top: 0;

    &__container{
        align-items: center;
    }

    &__link{
        color: #8D8D8D;
        text-decoration: none;
        font-size: 1.2em;
        margin-left: 50px;
    }

    &__nav{
        margin: 0 0 0 auto;

        @media (max-width: $breakpoint-sm){
            display: none;
        }
    }

    &__hamburguerbtn{
        
    }
}


