.mainbanner{
   /*  max-width: 1366px; */

   font-family: $primary-font-family;
   color: white;

   &__banner{
       width: 100%;
       position: relative;
   }

   &__text{
       max-width: 600px;
       position: absolute;
       display: block;
       font-size: 60px;
       top: 550px;
      /*  margin: 0 auto 0 0; */
   }

   &--red{
       color: $secondary-color;
   }

   &--text2{
       font-size: 30px;
   }
}