@font-face{
    font-family: Quantico;
    src: url("/sources/Quantico-Bold.ttf");
}

$primary-color: #222222;
$secondary-color: #ED1C24; 
$primary-font-family: "Quantico"; 
$secondary-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-size: 16px;

*{
    box-sizing: border-box;
}

body, html{
    margin: 0px;
    font-family: $secondary-font-family;
    font-size: $font-size;
}

.container{
    max-width: 100%;
    margin: 0px auto;
    display: flex;
    padding: 0px 100px;
}

p{
    margin: 0;
}

@import 'mainheader';
@import 'mainbanner';