@font-face {
  font-family: Quantico;
  src: url("../sources/Quantico-Bold.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.container {
  max-width: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 100px;
}

p {
  margin: 0;
  padding: 0;
}

.mainheader {
  background-color: #222222;
  padding: 10px 10px;
}

.mainheader__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainheader__link {
  color: #8D8D8D;
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 50px;
}

.mainheader__nav {
  margin: 0 0 0 auto;
}

@media (max-width: 400px) {
  .mainheader__nav {
    display: none;
  }
}

.mainbanner {
  /*  max-width: 1366px; */
  font-family: "Quantico";
  color: white;
  position: relative;
  font-size: 0;
}

.mainbanner__banner {
  width: 100%;
}

.mainbanner__text {
  max-width: 600px;
  position: absolute;
  display: block;
  font-size: 60px;
  bottom: 10%;
  /*  margin: 0 auto 0 0; */
}

.mainbanner--red {
  color: #ED1C24;
}

.mainbanner--text2 {
  font-size: 30px;
}

.mainvideo {
  position: relative;
  padding-bottom: 42%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.mainvideo__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainfeatures {
  background-color: #000000;
  font-family: "Quantico";
  font-size: 36px;
  color: white;
  padding: 40px 0 0;
}

.mainfeatures__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainfeatures__titletext {
  position: absolute;
  left: 400px;
}

.mainfeatures__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainfeatures__navtitles {
  width: 34%;
  margin: 50px auto 5px;
  border-style: solid;
  border-color: #ED1C24;
  border-width: 3px;
  text-align: center;
}

.mainfeatures__navtitles--selected {
  background: #ED1C24;
}

.mainfeatures__navtitles:nth-child(2n) {
  border-width: 3px 0;
}

.mainfeatures__image {
  width: auto;
}

.mainfeatures__pcreference {
  width: 100%;
}

.mainfeatures__content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainfeatures__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainfeatures__info--hidden {
  display: none;
}

.mainfeatures__infotext {
  font-size: 34px;
}

.mainfeatures__infotext--green {
  color: #76B900;
}

.mainslider {
  font-size: 0;
}

.mainslider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainslider__imagecontainer {
  max-width: 25%;
}

.mainslider__image {
  width: 100%;
}

.mainkeyboard {
  background: #000000;
  height: 975px;
}

.mainkeyboard__color {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: white;
  height: 100%;
}

.mainkeyboard__layout {
  position: absolute;
  top: 0;
  height: 100%;
}

.mainkeyboard__text {
  font-family: "Quantico";
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: absolute;
  top: 190px;
  text-align: center;
}

.mainsubscribe {
  font-family: "Quantico";
  background-color: #000000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mainsubscribe__title {
  margin: 10px 0 10px;
  font-size: 50px;
}

.mainsubscribe__container {
  height: 40px;
  margin: 10px 0 40px;
}

.mainsubscribe__input {
  font-family: "Quantico";
  height: 100%;
  width: 100%;
  max-width: 690px;
  border-radius: 5px;
  border-style: none;
  padding: 15px;
  font-size: 20px;
}

.mainsubscribe__button {
  font-family: "Quantico";
  color: white;
  background-color: #ED1C24;
  height: 100%;
  width: 100%;
  max-width: 246px;
  margin: 0 40px;
  border-radius: 5px;
  border-style: none;
  font-size: 15px;
}

.mainsubscribe__image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
}

.mainfooter {
  /*     margin-top: -5px;
 */
  background-color: #222222;
  padding: 40px 0px;
  /* &__container:nth-child(1){
        margin: 0 100px;
    } */
}

.mainfooter__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainfooter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainfooter__link {
  color: #8D8D8D;
  text-decoration: none;
  font-size: 1.2em;
  padding: 3px 3px;
}

.mainfooter__link--title {
  color: white;
  padding: 0 0 30px 0;
}

.mainfooter__link--footer {
  color: white;
  margin: 0 20px;
  font-size: 14px;
}

.mainfooter__link--copyright {
  font-size: 12px;
}

.mainfooter__line {
  color: white;
  width: 100%;
  margin: 40px 0 10px;
}

.mainfooter__information {
  text-align: center;
  display: block;
  max-width: 600px;
  margin: 30px auto 0;
}

.mainfooter__terms {
  margin: 20px auto;
}

.mainfooter__copyright {
  margin: 10px auto;
}
/*# sourceMappingURL=main.css.map */